* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
.section_heading {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 3px solid green;
  width: fit-content;
  text-shadow: 5px 5px 10px salmon;
  margin: 0 0 20px 0;
}